---

---

<div class="shadow-lg flex flex-col rounded-lg gap-4 p-5 text-sm border border-gray-200 min-w-60 h-[80%]">
    <span class="font-semibold text-base">Nombre del Plato</span>
    <picture class="flex justify-center">
        <img src="https://picsum.photos/150/150" alt="">
    </picture>
    <div class="flex flex-col gap-2">
        <span class="text-gray-400">Doble carne de res, doble tocino, doble queso,doble jamón acompañada con papas fritas nativas</span>
        <span class="font-semibold">S/. 13.00</span>
    </div>
</div>